<%# Barre latterale de rech %>
<%= render 'shared/side_bar.html.erb' %>

<%# liste de toutes les factures %>
<div class="content-wrapper">
  <div class="index-invoices">

    <div class='index-invoices-title'>
      <h3>Mes factures <%= translate(@type, scope: 'invoice.type') %></h3>
      <%= link_to "Nouvelle facture", new_invoice_path(type: @type), class: "btn btn-flat btn-green"%>
    </div>
    <br>
    <div class="invoices-title-details">
      <h4>
          <%= @invoices.count %> factures <%= translate(@status, scope: 'invoice.status', count: @invoices.count) %>
      </h4>
    </div>


    <table class='table-invoices'>
       <thead>
        <tr class="table-header">
          <td class="table-row-client">Client</td>
          <td style="width: 15%">N° de facture</td>
          <td style="width: 19%%">Montant</td>
          <td style="width: 19%">Date</td>
          <td style="width: 19%">Echéance</td>
          <td style="width: 23%">Statut</td>
        </tr>
       </thead>
      <% @invoices.each do |invoice| %>
        <% if policy(invoice).index? %>
          <%= render 'shared/big_card_invoice', {invoice: invoice} %>

        <% end %>
      <% end %>
    </table>

  </div>
  <%# <%= link_to (render 'shared/big_card_invoice', {invoice: invoice}), invoice_path(invoice) %>
</div>
