<%# Barre latterale de rech %>
<%= render 'shared/side_bar.html.erb' %>

<%# liste de toutes les factures %>
<div class="content-wrapper">
  <div class="index-invoices">

    <div class='index-invoices-title'>
      <h2>Factures <%= translate(@type, scope: 'invoice.type') %></h2>
      <%= link_to "Nouvelle facture", new_invoice_path(type: @type), class: "btn btn-flat btn-green"%>
    </div>
    <br>
    <div class="invoices-title-details">
      <h4>
          <%= @invoices.count %> factures <%= translate(@status, scope: 'invoice.status', count: @invoices.count) %>
      </h4>
    </div>

    <table>
       <thead>
        <tr class='table-header'>
          <td>Client</td>
          <td>N° de facture</td>
          <td>Montant</td>
          <td>Date</td>
          <td>Echéance</td>
          <td>Statut</td>
        </tr>
       </thead>
      <% @invoices.each do |invoice| %>
        <% if policy(invoice).index? %>
          <tr class='table-line'>
            <td><%= invoice.recipient.name %> </td>
            <td><%= invoice.po_number %></td>
            <td><%= invoice.total_w_tax.round(2) %>€ </td>
            <td><%= localize(invoice.issue_date, format: '%d/%m/%Y') %></td>
            <td><%= localize(invoice.payment_deadline, format: '%d/%m/%Y') %></td>
            <td><%= translate(invoice.status, scope: 'invoice.status', count: 1).capitalize%></td>
          </tr>
        <% end %>
      <% end %>
</table>




    <div class="invoice-cards">
      <% @invoices.each do |invoice| %>
        <% if policy(invoice).index? %>
          <%= link_to (render 'shared/big_card_invoice', {invoice: invoice}), invoice_path(invoice) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
