<%# Barre latterale de rech %>
<%= render 'shared/side_bar.html.erb' %>

<%# liste de toutes les factures %>
<div class="content-wrapper">

  <div class="index-invoices">

    <div class='index-invoices-title pt-3'>
      <div class='invoices-title'>
        <h3>Mes factures <%= translate(@type, scope: 'invoice.type') %></h3>
      </div>
      <%= link_to "Nouvelle facture", new_invoice_path(type: @type), class: "btn btn-flat btn-orange"%>
    </div>
    <br>

    <div class="search-bar">
      <%= form_tag invoices_path, class:"search-bar", method: :get do %>
        <%= hidden_field_tag :type, @type %>

        <%= text_field_tag :company,
          params[:company],
          class: "form-control",
          placeholder: "client",
          placeholder: (@type == "sent" ? "Client" : "Fournisseur")
        %>
        <br>

        <% if @type == "received" %>
          <%= select_tag :status, options_for_select([["Statut", nil]] + Invoice::RECEIVED_STATUSES.map { |status| [translate(status, scope: 'invoice.status', count: 1).capitalize, status] }, params[:status]), class: "form-control" %>
         <%# style: "width: 265px" %>
        <% else %>
          <%= select_tag :status, options_for_select([["Statut", nil]] + Invoice::SENT_STATUSES.map { |status| [translate(status, scope: 'invoice.status', count: 1).capitalize, status] }, params[:status]), class: "form-control" %>
        <% end %>
        <br>
        <%# <% raise %>
        <%= date_field_tag :date,
          params[:date],
          as: :string, required: true,
          # input_html: {class: "datepicker"},
          class: "form-control",
          placeholder: "Date",
          id: "range_start"
          # data-provide :'datepicker'
        %>
        <%# just so that flatpickr range plugin is happy %>
        <%= hidden_field_tag :range_end %>
        <br>

        <%= submit_tag "Rechercher", class: "btn btn-flat" %>
      <% end %>
    </div>
    <br>

    <div class="invoices-title-details">
      <h4>
        <strong> <%= @invoices.count %> factures </strong>  <%= translate(@status, scope: 'invoice.status', count: @invoices.count) %> pour un total de <strong> <%= @total_amount.round(2) %>€ </strong>
      </h4>
    </div>
    <table class='table-invoices'>
       <thead>
        <tr class="table-header">
          <td class="table-row-client">
            <%= @type == "sent" ? "Client" : "Fournisseur" %>
          </td>
          <td style="width: 15%">N° de facture</td>
          <td style="width: 19%%">Montant</td>
          <td style="width: 19%">Date</td>
          <td style="width: 19%">Echéance</td>
          <td style="width: 23%">Statut</td>
        </tr>
       </thead>
      <% @invoices.each do |invoice| %>
        <% if policy(invoice).index? %>
          <%= render 'shared/big_card_invoice', {invoice: invoice} %>

        <% end %>
      <% end %>
    </table>

  </div>
  <%# <%= link_to (render 'shared/big_card_invoice', {invoice: invoice}), invoice_path(invoice) %>
</div>
