<%# Barre latterale de rech %>
<%= render 'shared/side_bar.html.erb' %>

<%# liste de toutes les factures %>
<div class="content-wrapper">
  <div class="index-invoices">

    <div class='index-invoices-title'>
      <h1>Factures <%= @type %></h1>
      <%= link_to "Nouvelle facture", new_invoice_path(type: @type), class: "btn btn-flat"%>
    </div>

    <div class="invoices-title-details">
      <h3>
          <%= @invoices.count %> factures <%= @status %>
      </h3>

    </div>

    <div class="invoice-cards">
      <% @invoices.each do |invoice| %>
        <% if policy(invoice).index? %>
          <%= link_to (render 'shared/big_card_invoice', {invoice: invoice}), invoice_path(invoice) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
