<%# Barre latterale de rech %>
<%= render 'shared/side_bar.html.erb' %>

<%# liste de toutes les factures %>
<div class="content-wrapper">

  <div class="index-invoices">

    <div class='index-invoices-title pt-3'>
      <div class='invoices-title'>
        <h3>Mes factures <%= translate(@type, scope: 'invoice.type') %></h3>
      </div>
      <%= link_to "Nouvelle facture", new_invoice_path(type: @type), class: "btn btn-flat btn-orange"%>
    </div>

    <%= form_tag invoices_path, class:"search-bar d-flex align-items-center", method: :get do %>
      <%= hidden_field_tag :type, @type %>

      <%= text_field_tag :company,
        params[:company],
        class: "form-control",
        placeholder: "client",
        placeholder: (@type == "sent" ? "Client" : "Fournisseur")
      %>

      <% if @type == "received" %>
        <%= select_tag :status, options_for_select([["Statut", nil]] + Invoice::RECEIVED_STATUSES.map { |status| [translate(status, scope: 'invoice.status', count: 1).capitalize, status] }, params[:status]), class: "form-control" %>
      <% else %>
        <%= select_tag :status, options_for_select([["Statut", nil]] + Invoice::SENT_STATUSES.map { |status| [translate(status, scope: 'invoice.status', count: 1).capitalize, status] }, params[:status]), class: "form-control" %>
      <% end %>

      <%= text_field_tag :date,
        params[:date],
        as: :string, required: true,
        class: "form-control",
        placeholder: "Date Début",
        id: "range_start"
      %>

      <i class="fas fa-long-arrow-alt-right mx-1 text-secondary"></i>
      <%# <P> ... </P> %>

      <%# just so that flatpickr range plugin is happy %>
      <%= text_field_tag :range_end,
        nil,
        class: "form-control",
        placeholder: "Date Fin"
      %>
      <%= submit_tag "Rechercher", class: "btn btn-flat" %>
    <% end %>

    <div class="invoices-title-details">
      <h4>
        <strong> <%= @invoices.count %> factures </strong>  <%= translate(@status, scope: 'invoice.status', count: @invoices.count) %> pour un total de <strong> <%= number_with_delimiter(@total_amount.round(0), locale: :fr) %>€ </strong>
      </h4>
    </div>
    <table class='table-invoices'>
       <thead>
        <tr class="table-header">
          <td class="table-row-client">
            <%= @type == "sent" ? "Client" : "Fournisseur" %>
          </td>
          <td style="width: 15%">N° de facture</td>
          <td style="width: 25%%">Montant</td>
          <td style="width: 15%">Date</td>
          <td style="width: 15%">Echéance</td>
          <td style="width: 20%">Statut</td>
        </tr>
       </thead>
      <% @invoices.each do |invoice| %>
        <% if policy(invoice).index? %>
          <%= render 'shared/big_card_invoice', {invoice: invoice} %>

        <% end %>
      <% end %>
    </table>

  </div>
  <%# <%= link_to (render 'shared/big_card_invoice', {invoice: invoice}), invoice_path(invoice) %>
</div>
