<h1>Ta liste de factures</h1>


<%# Barre latterale de rech %>



<%# liste de toutes les factures %>

<div>
  <ul>
    <% @invoices.each do |invoice| %>
      <% if policy(invoice).index? %>
      <li>
        <%# Fournisseur : <%= invoice.sender.name %>
        <%# <br> %>
        <%= @company_status %> : <%= invoice.recipient.name %>
        <br>
        Statut : <%= invoice.status %>
        <br>
        Date : <%= invoice.issue_date %>
        <br>
        Montant : <%= invoice.total_w_tax.round(2) %>€
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
