<%= render 'shared/side_bar.html.erb' %>

<div class="content-wrapper content-form-new">

  <h2 class="h2-form">Ajouter une facture</h1>


    <!-- Formulaire pour upload une facture que je sois client ou fournisseur -->
    <div class="invoice-form">
      <%= simple_form_for(@invoice) do |f| %>
        <%= f.input :invoice_file, label:'Facture', as: :file %>

        <% if current_user.company_id == @invoice.recipient_id  %>
          <%= f.association :recipient, as: :hidden %>
          <%= f.association :sender, label:'Choisissez un fournisseur', collection: @companies, prompt: "Fournisseurs" %>
        <% else %>
          <%= f.association :sender, as: :hidden %>
          <%= f.association :recipient, collection: @companies, prompt: "Clients" %>
        <% end %>
        <div class="inline-block">

          <%= f.submit "Valider", class: "btn btn-flat btn-orange" %>
      <% end %>

      <% if @invoice.received?(current_user) %>
        <%= link_to "Retour", received_invoices_path(status: @status), class: "btn btn-flat" %>
      <% else %>
        <%= link_to "Retour", sent_invoices_path(status: @status), class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
