<div class="d-flex">
  <div class="m-4 p-4">

    <% if policy(@invoice).show? %>
        <% if @invoice.invoice_file.attached? %>
          <%= cl_image_tag(@invoice.invoice_file.key, format: :png, width:'600px') %>
        <% else %>
          <object data="<%= image_path "lewagon.pdf" %>" style="width:600px ; height:900px"></object>
        <% end %>
    <% end %>

  </div>
  <div class="m-4 p-4 button-box">
    <%= link_to "Valider", validate_invoice_path, class: "btn btn-flat", method: :validate %>
    <%= link_to "Rejeter", decline_reason_invoice_path, class: "btn btn-flat" %>
    <%= link_to "Marquer comme payée", mark_as_paid_invoice_path, class: "btn btn-flat" %>
    <%= link_to "Mettre en paiement", pay_invoice_path, class: "btn btn-flat" %>
    <%= link_to "Générer écritures comptable", "#", class: "btn btn-flat" %>
    <% if @invoice.received?(current_user) %>
    <%= link_to "Retour aux factures reçues", received_invoices_path, class: "btn btn-gradient" %>
    <% else %>
    <%= link_to "Retour aux factures envoyées", sent_invoices_path, class: "btn btn-gradient" %>
    <% end %>
  </div>
</div>
