
<div class="card-container">

  <div class="invoice-card">
    <div class="invoice-card-infos">
      <h2><%= invoice.recipient.name %> </h2>
      <p><strong><%= translate(invoice.status, scope: 'invoice.status', count: 1).capitalize %> </strong></p>
      <p><%= localize(invoice.issue_date, format: '%d/%m/%Y') %></p>
      <% if invoice.status == 'declined' %>
      <p>Motif du rejet :<%= invoice.decline_reason%></p>
      <% end %>
    </div>

    <div class="invoice-card-price">
      <h3> <%= invoice.total_w_tax.round(2) %>€ </p>
    </div>
  </div>
</div>
