<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="nav-link">
              <i class="far fa-comment"> <% link_to %> </i>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <i class="fas fa-cog"> <% link_to %> </i>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
            <%= image_tag "https://images.pexels.com/photos/10724233/pexels-photo-10724233.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500", class: "avatar"%>
            <% end %>
          <%= image_tag "", class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
