<div class="statut-content">
  <div class="tag <%= invoice.status.gsub(' ', '-') %>">
    <%= translate(invoice.status, scope: 'invoice.status', count: 1).capitalize%>
  </div>
  <% if invoice.status == 'declined' %>
    <p>Motif du rejet : <%= invoice.decline_reason%></p>
  <% end %>
</div>



      <% if invoice.received?(current_user) %>
            <!--c'est une facture recue -->
            <% if invoice.status == 'received' %>
            <div data-controller='invoice'>

              <div class='my-3 mr-4'>
              <%= link_to "Valider", validate_invoice_path(invoice), class: "btn btn-flat btn-green", method: :patch %>
              <%= link_to "Refuser", decline_reason_invoice_path(invoice), class: "btn btn-flat btn-red", data: {action: 'click->invoice#decline'} %>
              <%#= button_tag "Refuser", class: "btn btn-flat btn-red", data: {action: 'click->invoice#decline'} %>

              </div>
                  <div class='d-none' data-invoice-target='form'>
                    <%= simple_form_for invoice, url: decline_reason_invoice_path(invoice.id), method: :patch do |f| %>
                     <%= f.input :decline_reason, label:'Details du rejet' %>
                     <%= f.submit "Refuser", class: "btn btn-flat btn-red" %>
                     <% end %>
                  </div>
            </div>
            <% end %>
            <div class='my-3 mr-4'>
            <% if invoice.status == 'validated' %>
                <%= link_to "Payer", pay_invoice_path(invoice), class: "btn btn-flat btn-orange", method: :patch %>
            <% end %>
            <% if invoice.status == 'payment in process' %>
                <%= link_to "Payer", pay_invoice_path(invoice), class: "btn btn-flat btn-orange", method: :patch %>
            <% end %>
            <% if invoice.status == 'paid' %>
                <%# <%= link_to "Marquer comme payée", mark_as_paid_invoice_path(invoice), class: "btn btn-flat btn-green", method: :patch %>
                <%= link_to "Générer écritures comptable", "#", class: "btn btn-flat btn-orange" %>
            <% end %>
            </div>



      <% else %>
            <!--c est une facture emise -->
            <div class='my-3 mr-4'>
            <% if invoice.status =='created' %>

              <%= link_to "Envoyer", send_to_partner_invoice_path(invoice), class: "btn btn-flat btn-green", method: :patch %>

            <% else %>
              <% unless invoice.status == 'paid' %>
              <%# <%= link_to "Marquer comme payée", mark_as_paid_invoice_path(invoice), class: "btn btn-flat btn-green", method: :patch %>
              <%= link_to "Relancer",  follow_up_invoice_path(invoice), class: "btn btn-flat btn-green", method: :patch %>
              <% end %>
            <% end %>
            </div>
      <% end %>


<!-- image de la facture -->
    <div>
      <% if policy(invoice).show? %>
          <% if invoice.invoice_file.attached? %>
            <%= cl_image_tag(invoice.invoice_file.key, format: :png, width:'550px') %>
          <% else %>
            <object data="<%= image_path "lewagon.pdf" %>" style="width:550px ; height:820px"></object>
          <% end %>
      <% end %>
    </div>
