<%# banner %>
<%# <% if current_user %>
  <%# <%= link_to "Accéder à mes factures", received_invoices_path, class: "btn btn-flat btn-orange"  %>
  <%# <%= render 'shared/navbar'%>
<%# <% end %>

<div class="banner">
<%# logo %>
  <div class="banner-logo">
    <div id="logo">
      <%= image_tag "Billr2.png" %>
    </div>
<%# log in button %>
  <div class="btn-login">
    <% if current_user %>
      <%# <%= link_to "Accéder à mes factures", received_invoices_path, class: "btn btn-flat btn-orange"  %>
      <%# <%= render 'shared/navbar'%>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active hello-user">
            <span> Bonjour <%= current_user.first_name.capitalize %> 👋</span>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://images.pexels.com/photos/10724233/pexels-photo-10724233.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            </div>
          </li>
        <% end %>

      </ul>

    <% else %>
    <%# sig up %>
      <%= link_to "Créer un compte", new_user_registration_path, class: "btn btn-signup", style: "margin-right: 3px" %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn btn-flat btn-orange"  %>
    <% end %>
  </div>

  <%# text + demo button + hand image%>
  <div class="container banner-container">

    <div class="banner-left-block">
      <div class="title">
        <h1> Une <span class="apart-title">gestion facilitée</span><br/>de vos factures</h1>
      </div>
      <p>100% adapté aux besoins de votre entreprise.</p>
      <% if current_user %>
        <%= link_to "Accéder à mes factures", received_invoices_path, class: "btn btn-flat btn-orange"  %>
      <% else %>
        <a class="btn btn-flat btn-demo" href="#">Démander une démo</a>
        <a class="btn btn-flat btn-trial" href="#">Essai gratuit</a>
      <% end %>
    </div>
    <%= image_tag "main.png", class: "image-main" %>
  </div>
 </div>
</div> <%# closing banner tag %>

<%# 3 cards %>
  <div class="three-cards">
    <h1>Un outil formidable de <br/>gestion de vos factures</h1>

    <div class="d-flex">

      <div class="text-little-card">
      <%= image_tag "icon-cb.png", class: "icons" %>
        <h4> Gestion des flux </h4>
        <p>Optimiser la gestion de votre flux de factures entrantes et sortantes</p>
      </div>

      <div class="text-little-card">
      <%= image_tag "icon-calculate.png", class: "icons"%>
        <h4>Pré-compatibilité</h4>
        <p>Accélérer votre pré-comptabilité</p>
      </div>

      <div class="text-little-card">
      <%= image_tag "icon-msg.png", class: "icons" %>
        <h4>Fluidifier vos échanges</h4>
        <p>Fluidifier vos échanges avec votre expert-comptage et faciliter la cloture de vos comptes</p>
      </div>
    </div>
  </div>


<%# Subscription cards %>
<div class="subscription">

  <div class="title-year">
    <h1>Choisissez la formule <br>qui vous convient</h1>
    <div class="subscriptions-period">
    <a class="btn btn-flat btn-yearly" href="#">Yearly</a>
    <a class="btn btn-flat btn-monthly" href="#">Monthly</a>
    </div>
  </div>
  <div class="div-option-card">
    <div class="option-card">
      <P>Starter</p>
       <h2>Gratuit</h2>
        <div class="option-card-details">

          <ul class="list-subscription">
            <li>1 utilisateur (administrateur)</li>
            <li>Suivi des factures reçues</li>
            <li>Connexion à vos boîtes email</li>
            <li>Suivi des factures émises</li>
            <li>Export des écritures comptables</li>
            <li>Réconciliation automatisée</li>
          </ul>
          <a class="btn btn-flat btn-started btn-lg" href="#">Demarrer</a>
        </div>


      </div>

    <div class="option-card-two">
        <p>Premium</p>
        <h2>29€/mois</h2>

        <div class="option-card-details">

          <ul class="list-subscription">
            <li>Jusqu'à 5 utilisateurs</li>
            <li>Formule starter</li>
            <li>Intégration Slack</li>
            <li>Format factureX</li>
            <li>Transmission au PPF</li>
            <li>Archivage légale des factures</li>
          </ul>
          <a class="btn btn-flat btn-brown btn-lg" href="#">Demarrer</a>
        </div>
      </div>

      <div class="option-card">
        <p>Entreprise</p>
        <h2>49€/mois</h2>
        <div class="option-card-details">

          <ul class="list-subscription">
            <li>Nombre d'utilisateurs illimité</li>
            <li>Formules starter et premium</li>
            <li>Tableau de bord personnalisé</li>
            <li>Intégration à votre outil de comptabilité</li>
          </ul>
          <a class="btn btn-flat btn-started btn-lg" href="#">Demarrer</a>
      </div>
    </div>

  </div>
</div>
