<!DOCTYPE html>
<html>
  <head>
    <title>Billr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%# Ne pas montrer la navbar et la sidebar sur la homepage et la page de login %>
      <%= render 'shared/side_bar' unless current_page?(root_path) || current_page?(new_user_session_path) %>
      <%= render 'shared/navbar' unless current_page?(root_path) || current_page?(new_user_session_path)%>
      <%= render 'shared/flashes' %>
      <div class="<% unless current_page?(root_path) || current_page?(new_user_session_path) %>ml-300px<% end %>" style="min-height: 75vh;">
        <%= yield %>
      </div>

      <%= render 'shared/footer' if current_page?(root_path) || current_page?(new_user_session_path) %>
      <%= render 'shared/footer_small' unless current_page?(root_path) || current_page?(new_user_session_path) %>
  </body>
</html>
